*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
font-family: sans-serif;
text-decoration: none;
list-style: none;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
    margin: auto;
    padding-top: 30px;
padding-bottom: 50px;
}
header img{
    width: 250px;

}
header ul{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;


}

header ul li{
 font-size: 20px;
 font-weight: 900;
 color: rgba(0, 0, 255, 0.806);
 font-weight: 900;


}
header ul li:hover{
color: rgba(255, 21, 0, 0.747);
text-decoration: underline;
padding-bottom: 5px;
cursor: pointer;
}
header ul li a{
 
  text-decoration: none;

}
header ul li a:hover{
  transition: 0.5s;
  padding-bottom: 20px;
  color: red;
}
header i{
    background-color: blue;
    border-radius: 10px;
    padding: 15px;
    color: aliceblue;

}
header i:hover{
   background-color: rgb(255, 179, 0);
   transition: 0.5s;

}
.btn-1{
    background-color: rgb(255, 64, 0);
   padding: 20px  25px;
   color: #eee;
   border-radius: 20px;
   border: none;

    
}
.btn-1:hover{
    background-color: rgba(0, 0, 255, 0.717);
    transition: 0.5s;
}
/* end header */

/* main strat */
.container{
    width: 70%;
    margin: auto;
    
    height: 70vh;
    background-color: #eee;
    box-shadow: 0 0 10px  0;
    border-radius: 5px;
    padding-right: 20px;
}
.container input{
    width: 90%;
    padding: 20px 5px;
    margin: 10px 80px;
 border-radius: 10px;
 border: none;

}
.container h3{
    text-align: right;
    margin-right: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
  
}
.radio{
    padding: 20px 10px;
}
.input{
    display: flex;
    
    
}
.input input{
margin-left: 750px;
margin-right: -30px;


}

.buttom{
    display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row-reverse;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;

}
.buttom .p2{
    background-color: rgba(62, 62, 252, 0.866);
    color: #eee;
    padding: 10px 30px;
   border-radius: 30px;

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
       padding-top: 50px;
       padding-bottom: 40px;

    background-color: rgb(255, 55, 0);

  }
  .footer .foot{
    /* width: 80%; */
    text-align: right;
    padding: 20px 40px;
    color: #eee;
    padding-bottom: 20px;
 

  }
  .foot{
    
  }
  .footer .foot h3{
    padding-bottom: 30px;
    font-size: 25px;
  padding-left: 70px;
    font-weight: 900;

  }
  .footer .foot  p{
    font-weight: 900;
    padding-bottom:20px !important;
  }
  .footer .foot  p i{
    padding-left: 20px;
  }
  .footer .foot img{
    padding-bottom: 40px;
    width: 230px;
  }
  .footer .foot .icon i{
    padding: 10px 20px;
  }
  .footer_botom{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
      color: #eee;
      background-color: rgb(255, 55, 0);

  }
  .footer_botom .f{
    display: flex;
   gap: 30px;
   padding-right: 40px;
 
  }
  .footer_botom .f .p{
       border-right: solid 1px rgb(253, 253, 253);
        padding-right: 30px;
  }
  .footer_botom p{
    padding-left: 40px;
    padding-bottom: 40px;
  }